blockquote {
    background: #f9f9f9;
    box-sizing: border-box;
    border-left: 3px solid #ccc;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    width:100%;
    margin:0;
  }

  blockquote:before {
    color: #ccc;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }

  thead{border-bottom: 1px  solid;}
  table{box-sizing: border-box;}
  td{padding:10px; border-bottom:1px solid #000;}

  hr{color:#eee !important;}